<table class="table table-hover table-condensed">
<thead>
<tr><td></td><td align="right"></td></tr>
</thead>

<tbody>
<tr><td>DCF</td><td align="right"></td></tr>
<tr><td>Market Valuation Approach</td><td align="right"></td></tr>
<tr><td></td><td align="right"></td></tr>

</tbody>

</table>