<table class="table table-hover table-condensed">
<thead>
<tr><td>Buyer</td><td>Target</td><td>Implied Enterprise Value/Rev(x)</td><td>Implied Enterprise Value/EBITDA (x)</td><td>Stock Premium - 1 Day  (%)</td></tr>
</thead>

<tbody>
<tr><td>Salient Federal Solutions, Inc.</td><td>ATS Corporation</td><td align="right">n/a</td><td align="right">7.63</td><td align="right">-1.54</td></tr>
<tr><td>Southbase International Limited</td><td>Inova Technology, Inc. (OTCPK:INVA)</td><td align="right">0.666</td><td align="right">14.81</td><td align="right">16.08</td></tr>
<tr><td>Presidio Networked Solutions, Inc.</td><td>INX Inc.</td><td align="right">0.403</td><td align="right">49.01</td><td align="right">15.89</td></tr>
<tr><td>Quagga Corporation</td><td>XETA Technologies Inc.</td><td align="right">0.71</td><td align="right">15.37</td><td align="right">43.23</td></tr>
<tr><td></td><td></td><td align="right"></td><td align="right"></td><td align="right"></td></tr>
<tr><td></td><td>Average</td><td align="right">0.593</td><td align="right">21.705</td><td align="right">18.415</td></tr>
<tr><td></td><td>Median</td><td align="right">0.666</td><td align="right">15.09</td><td align="right">15.985</td></tr>
<tr><td></td><td></td><td align="right"></td><td align="right"></td><td align="right"></td></tr>
<tr><td></td><td style="font-weight:bold">Average Multiple</td><td align="right" style="font-weight:bold">0.593</td><td align="right" style="font-weight:bold">21.705</td><td align="right"></td></tr>
<tr><td></td><td style="font-weight:bold">First Giving metric</td><td align="right">3534</td><td align="right">568</td><td align="right"></td></tr>
<tr><td></td><td></td><td align="right">$2,096</td><td align="right">$12,328</td><td align="right"></td></tr>
<tr><td></td><td></td><td align="right">50%</td><td align="right">50%</td><td align="right"></td></tr>
<tr><td></td><td></td><td align="right"></td><td align="right"></td><td align="right"></td></tr>
<tr><td></td><td></td><td align="right" style="font-weight:bold">Calculated Value</td><td align="right" style="font-weight:bold">$7,212</td><td align="right"></td></tr>


</tbody>

</table>