<h1>Editing statement</h1>

<%= render 'form' %>

<%= link_to 'Which inputs are used by the model?', @statement, :class => "btn btn-small" %>
<%= link_to 'Add Another Year', new_statement_path, :class => "btn btn-small" %>
<%= link_to 'Take Me to the Valuation', statements_path, :class => "btn btn-small" %>
<br />
<br />