
<a name="header"></a>

<div class="navbar">
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li>
        <a href="#header" class="smoothScroll">Top</a>
      </li><br />
      <li>
        <a href="#value" class="smoothScroll">Your Value</a>
      </li>
    </ul>
  </div>
</div>
</div>

<br />
<br />
<br />
<br />
<h3>Financial Statements</h3>
<%= render 'financials' %>

<%= link_to 'Add Year', new_statement_path, :class => 'btn btn-small' %>

<br />
<br />
<br />
<br />
<br />
<br />
<%= render 'calculations' %>


<br />
<br />
<br />
<br />
<br />
<br />
<a name="value"></a>
<h2 style="text-align:center">Your business is worth <%= Format.currency(@equity) %></h2>
<br />
<br />
<br />
<br />
<br />
<br />
