<!DOCTYPE html>
<html>
<head>
  <title>Intrinsicly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>


<body>
<iframe name="mainf" src="http://www.yousefj.com/intrinsicly/" height="115" width=100% marginheight="0" marginwidth="0" frameborder="0" scrolling="no"></iframe>

<div class="container">

<%= yield %>
</div>

</body>
</html>
